{
    "env": {
      "browser": true,
      "es2021": true,
      "jest": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "plugins": ["react", "react-hooks", "prettier", "@babel/preset-react", "@babel/plugin-syntax-jsx"],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/prop-types": "off",
      "react/react-in-jsx-scope": "off",
      "no-console": 1,
      "prettier/prettier": "error"
    },
    "overrides": [
      {
        "files": ["**/*.spec.js"],
        "env": {
          "jest": true
        }
      }
    ]
  }
  